In [1]:
import pandas as pd

# Define path to SQLite3 Object
path = '/home/dsmith/Documents/analytics-projects/financial-prediction/data/equities-master/'

In [2]:
cik_df = pd.read_csv(path + 'ticker_cik.csv.gz', compression='gzip')
stocks_master = pd.read_csv(path + 'stocks_master.csv.gz', compression='gzip')

In [3]:
cik_df.head()

       cik ticker
0  1090872      A
1  1675149     AA
2  1829432    AAC
3  1420529   AACG
4  1844817   AACI